In [16]:
import pandas as pd
df_negtive=pd.read_csv('./neutral.csv')
df_negtive

,Unnamed: 0.1,q_id,q_text,u_id,a_id,a_text,r,flag,cos
0,7928,52728945,do while loops versus for loops in java for co...,1288,52729025,you should note that both of your loops are ex...,"[1.0, 0.0, 0.0, 0.0]",0,0.672437
1,27522,52821743,java operator precedence issue for a simple eq...,1288,52821807,lazy evaluation is used here. in alternative o...,"[1.0, 0.0, 0.0, 0.0]",0,0.713128
2,52271,51024551,better way of making program that calculates s...,1288,51024631,there are several issues with your code: the o...,"[1.0, 0.0, 0.0, 0.0]",0,0.734248
3,53772,50936707,how to not increment in for loop after an exce...,1288,50936845,try this code. hope this will fulfill your req...,"[0.0, 1.0, 0.0, 0.0]",0,0.666937
4,71361,49928673,beginner&#39;s issue with if statementi'm havi...,1288,49928775,"try this: if (! arrays.aslist ('a', 'b', 'c')....","[1.0, 0.0, 0.0, 0.0]",0,0.728604
...,...,...,...,...,...,...,...,...,...
32647,3677,53951710,deserializing an object in one line for an int...,11595728,56791708,you haven't intialize your page object model c...,"[1.0, 0.0, 0.0, 0.0]",0,0.726263
32648,3751,49122589,how to enter data from excel sheet to mysql da...,11659386,56730479,just add bandsadapter.notifydatasetchanged() a...,"[1.0, 0.0, 0.0, 0.0]",0,0.661839
32649,3448,53886367,how to resolve this error on android studio 3....,11755452,56938483,here is a one-liner using string#replaceall: p...,"[1.0, 0.0, 0.0, 0.0]",0,0.677033
32650,1272,49716180,eclipse - auto import java.util classes on amb...,11835088,58444714,intrinsically there is nothing wrong with your...,"[1.0, 0.0, 0.0, 0.0]",0,0.664794
32651,359,50353947,how to clone a single file from git repository...,12396942,58973271,as per the html you have shared to locate the ...,"[1.0, 0.0, 0.0, 0.0]",0,0.682238

In [17]:
import random
#设定一个随机数生成器
#生成一个列表答案列表
negitive_list=[]
for i in df_negtive.index:
    temp=random.randint(0,32651)
    negitive_list.append(df_negtive.iloc[temp].a_text)

In [18]:
df_negtive['a_text']=negitive_list
df_negtive['flag']=-2

In [19]:
df_negtive = df_negtive.drop(df_negtive.columns[0], axis=1)
df_negtive=df_negtive.drop(['q_id','u_id','a_id','r','cos'], axis=1)    
df_negtive.to_csv('negtive.csv',index=True)

In [20]:
df_neutrl=pd.read_csv('./neutral.csv')
df_neutrl = df_neutrl.drop(df_neutrl.columns[0], axis=1)
df_neutrl=df_neutrl.drop(['q_id','u_id','a_id','r','cos'], axis=1)
df_neutrl.flag=-1
df_neutrl

,q_text,a_text,flag
0,do while loops versus for loops in java for co...,you should note that both of your loops are ex...,-1
1,java operator precedence issue for a simple eq...,lazy evaluation is used here. in alternative o...,-1
2,better way of making program that calculates s...,there are several issues with your code: the o...,-1
3,how to not increment in for loop after an exce...,try this code. hope this will fulfill your req...,-1
4,beginner&#39;s issue with if statementi'm havi...,"try this: if (! arrays.aslist ('a', 'b', 'c')....",-1
...,...,...,...
32647,deserializing an object in one line for an int...,you haven't intialize your page object model c...,-1
32648,how to enter data from excel sheet to mysql da...,just add bandsadapter.notifydatasetchanged() a...,-1
32649,how to resolve this error on android studio 3....,here is a one-liner using string#replaceall: p...,-1
32650,eclipse - auto import java.util classes on amb...,intrinsically there is nothing wrong with your...,-1
32651,how to clone a single file from git repository...,as per the html you have shared to locate the ...,-1

In [21]:
df_postive=pd.read_csv('./postive.csv')
df_postive = df_postive.drop(df_postive.columns[0], axis=1)
df_postive=df_postive.drop(['q_id','u_id','a_id','r'], axis=1) 
df_postive

,q_text,a_text,flag
0,storing large jsons on blob field on a oracle ...,"you should use a clob type column, it can stor...",1
1,how can i post yammer&#39;s poll using the res...,you asked about how to post a poll via the res...,1
2,how can i send a post request from java which ...,you should take a look at the executorservice:...,1
3,do while loops versus for loops in java for co...,"you're right, these do the same thing (except ...",1
4,how to add incrementation to a variable as oft...,"first, you have to figure out how many level u...",1
...,...,...,...
94051,making row of recyclerview invisible (first ro...,you can do it like this: int position = your_r...,0
94052,find the smallest positive integer that does n...,here is an efficient python solution: def solu...,0
94053,spring batch flatfileitemreader continue on in...,i managed to solve this by setting the propert...,0
94054,jpa repository save inferred type &#39;s&#39; ...,create the save method in the repository inter...,0
94055,how to call java class from other file in visu...,add your .java files into a same folder then g...,0

In [22]:
df=pd.concat([df_postive,df_neutrl])
df=pd.concat([df,df_negtive])

In [27]:
df.to_csv('stackall.csv',index=True)
df

,q_text,a_text,flag
0,storing large jsons on blob field on a oracle ...,"you should use a clob type column, it can stor...",1
1,how can i post yammer&#39;s poll using the res...,you asked about how to post a poll via the res...,1
2,how can i send a post request from java which ...,you should take a look at the executorservice:...,1
3,do while loops versus for loops in java for co...,"you're right, these do the same thing (except ...",1
4,how to add incrementation to a variable as oft...,"first, you have to figure out how many level u...",1
...,...,...,...
32647,deserializing an object in one line for an int...,red hat provides openjdk 8 windows binaries un...,-2
32648,how to enter data from excel sheet to mysql da...,if you want to create the driver after setting...,-2
32649,how to resolve this error on android studio 3....,rules for a.compareto(b) returns negative valu...,-2
32650,eclipse - auto import java.util classes on amb...,"as @jasonarmstrong says, you can trigger a rel...",-2
32651,how to clone a single file from git repository...,"fix your typo. it's 'compliant', not 'compliat...",-2

In [29]:
df_next=pd.read_csv('./stackall.csv')
df_next=df_next.drop(df_next.columns[0], axis=1)
df_next.to_csv('stackover.csv')

In [34]:
import pandas as pd
df_all=pd.read_csv('./stackover.csv',)
df_all.to_csv('stackspace.csv',sep='\t',header=None)

In [35]:
df_all

,Unnamed: 0,q_text,a_text,flag
0,0,storing large jsons on blob field on a oracle ...,"you should use a clob type column, it can stor...",1
1,1,how can i post yammer&#39;s poll using the res...,you asked about how to post a poll via the res...,1
2,2,how can i send a post request from java which ...,you should take a look at the executorservice:...,1
3,3,do while loops versus for loops in java for co...,"you're right, these do the same thing (except ...",1
4,4,how to add incrementation to a variable as oft...,"first, you have to figure out how many level u...",1
...,...,...,...,...
159355,159355,deserializing an object in one line for an int...,red hat provides openjdk 8 windows binaries un...,-2
159356,159356,how to enter data from excel sheet to mysql da...,if you want to create the driver after setting...,-2
159357,159357,how to resolve this error on android studio 3....,rules for a.compareto(b) returns negative valu...,-2
159358,159358,eclipse - auto import java.util classes on amb...,"as @jasonarmstrong says, you can trigger a rel...",-2
159359,159359,how to clone a single file from git repository...,"fix your typo. it's 'compliant', not 'compliat...",-2

In [33]:
# df_train=df_all.sample(frac=0.6)
# df_train.groupby('flag').count()

from sklearn.model_selection import train_test_split
df_all